@media screen and (max-width: 1200px) {
  .twelfth_section .clients {
    width: 250%;
  }
}
@media screen and (max-width: 992px) {
  .top_section .banners h1 {
    font-size: 3em;
  }
  .top_section .banners p {
    font-size: 2.3em!important;
  }
  .main_menu_conteiner .main_menu .navbar {
    display: none;
  }
  .main_menu_conteiner .main_menu .navbar_dubble {
    display: block;
  }
  .second_section .second_up .up_about,
  .fifth_section .second_up .up_about,
  .eighth_section .second_up .up_about,
  .eleventh_section .second_up .up_about,
  .fourteenth_section .second_up .up_about,
  .fourteenth_section .second_up .up_about,
  .seventeenth_section .second_up .up_about,
  .second_section .fifth_up .up_about,
  .fifth_section .fifth_up .up_about,
  .eighth_section .fifth_up .up_about,
  .eleventh_section .fifth_up .up_about,
  .fourteenth_section .fifth_up .up_about,
  .fourteenth_section .fifth_up .up_about,
  .seventeenth_section .fifth_up .up_about,
  .second_section .eighth_up .up_about,
  .fifth_section .eighth_up .up_about,
  .eighth_section .eighth_up .up_about,
  .eleventh_section .eighth_up .up_about,
  .fourteenth_section .eighth_up .up_about,
  .fourteenth_section .eighth_up .up_about,
  .seventeenth_section .eighth_up .up_about,
  .second_section .eleventh_up .up_about,
  .fifth_section .eleventh_up .up_about,
  .eighth_section .eleventh_up .up_about,
  .eleventh_section .eleventh_up .up_about,
  .fourteenth_section .eleventh_up .up_about,
  .fourteenth_section .eleventh_up .up_about,
  .seventeenth_section .eleventh_up .up_about,
  .second_section .fourteenth_up .up_about,
  .fifth_section .fourteenth_up .up_about,
  .eighth_section .fourteenth_up .up_about,
  .eleventh_section .fourteenth_up .up_about,
  .fourteenth_section .fourteenth_up .up_about,
  .fourteenth_section .fourteenth_up .up_about,
  .seventeenth_section .fourteenth_up .up_about,
  .second_section .seventeenth_up .up_about,
  .fifth_section .seventeenth_up .up_about,
  .eighth_section .seventeenth_up .up_about,
  .eleventh_section .seventeenth_up .up_about,
  .fourteenth_section .seventeenth_up .up_about,
  .fourteenth_section .seventeenth_up .up_about,
  .seventeenth_section .seventeenth_up .up_about,
  .second_section .second_up .team_h,
  .fifth_section .second_up .team_h,
  .eighth_section .second_up .team_h,
  .eleventh_section .second_up .team_h,
  .fourteenth_section .second_up .team_h,
  .fourteenth_section .second_up .team_h,
  .seventeenth_section .second_up .team_h,
  .second_section .fifth_up .team_h,
  .fifth_section .fifth_up .team_h,
  .eighth_section .fifth_up .team_h,
  .eleventh_section .fifth_up .team_h,
  .fourteenth_section .fifth_up .team_h,
  .fourteenth_section .fifth_up .team_h,
  .seventeenth_section .fifth_up .team_h,
  .second_section .eighth_up .team_h,
  .fifth_section .eighth_up .team_h,
  .eighth_section .eighth_up .team_h,
  .eleventh_section .eighth_up .team_h,
  .fourteenth_section .eighth_up .team_h,
  .fourteenth_section .eighth_up .team_h,
  .seventeenth_section .eighth_up .team_h,
  .second_section .eleventh_up .team_h,
  .fifth_section .eleventh_up .team_h,
  .eighth_section .eleventh_up .team_h,
  .eleventh_section .eleventh_up .team_h,
  .fourteenth_section .eleventh_up .team_h,
  .fourteenth_section .eleventh_up .team_h,
  .seventeenth_section .eleventh_up .team_h,
  .second_section .fourteenth_up .team_h,
  .fifth_section .fourteenth_up .team_h,
  .eighth_section .fourteenth_up .team_h,
  .eleventh_section .fourteenth_up .team_h,
  .fourteenth_section .fourteenth_up .team_h,
  .fourteenth_section .fourteenth_up .team_h,
  .seventeenth_section .fourteenth_up .team_h,
  .second_section .seventeenth_up .team_h,
  .fifth_section .seventeenth_up .team_h,
  .eighth_section .seventeenth_up .team_h,
  .eleventh_section .seventeenth_up .team_h,
  .fourteenth_section .seventeenth_up .team_h,
  .fourteenth_section .seventeenth_up .team_h,
  .seventeenth_section .seventeenth_up .team_h,
  .second_section .second_up .do_h,
  .fifth_section .second_up .do_h,
  .eighth_section .second_up .do_h,
  .eleventh_section .second_up .do_h,
  .fourteenth_section .second_up .do_h,
  .fourteenth_section .second_up .do_h,
  .seventeenth_section .second_up .do_h,
  .second_section .fifth_up .do_h,
  .fifth_section .fifth_up .do_h,
  .eighth_section .fifth_up .do_h,
  .eleventh_section .fifth_up .do_h,
  .fourteenth_section .fifth_up .do_h,
  .fourteenth_section .fifth_up .do_h,
  .seventeenth_section .fifth_up .do_h,
  .second_section .eighth_up .do_h,
  .fifth_section .eighth_up .do_h,
  .eighth_section .eighth_up .do_h,
  .eleventh_section .eighth_up .do_h,
  .fourteenth_section .eighth_up .do_h,
  .fourteenth_section .eighth_up .do_h,
  .seventeenth_section .eighth_up .do_h,
  .second_section .eleventh_up .do_h,
  .fifth_section .eleventh_up .do_h,
  .eighth_section .eleventh_up .do_h,
  .eleventh_section .eleventh_up .do_h,
  .fourteenth_section .eleventh_up .do_h,
  .fourteenth_section .eleventh_up .do_h,
  .seventeenth_section .eleventh_up .do_h,
  .second_section .fourteenth_up .do_h,
  .fifth_section .fourteenth_up .do_h,
  .eighth_section .fourteenth_up .do_h,
  .eleventh_section .fourteenth_up .do_h,
  .fourteenth_section .fourteenth_up .do_h,
  .fourteenth_section .fourteenth_up .do_h,
  .seventeenth_section .fourteenth_up .do_h,
  .second_section .seventeenth_up .do_h,
  .fifth_section .seventeenth_up .do_h,
  .eighth_section .seventeenth_up .do_h,
  .eleventh_section .seventeenth_up .do_h,
  .fourteenth_section .seventeenth_up .do_h,
  .fourteenth_section .seventeenth_up .do_h,
  .seventeenth_section .seventeenth_up .do_h,
  .second_section .second_up .our_works,
  .fifth_section .second_up .our_works,
  .eighth_section .second_up .our_works,
  .eleventh_section .second_up .our_works,
  .fourteenth_section .second_up .our_works,
  .fourteenth_section .second_up .our_works,
  .seventeenth_section .second_up .our_works,
  .second_section .fifth_up .our_works,
  .fifth_section .fifth_up .our_works,
  .eighth_section .fifth_up .our_works,
  .eleventh_section .fifth_up .our_works,
  .fourteenth_section .fifth_up .our_works,
  .fourteenth_section .fifth_up .our_works,
  .seventeenth_section .fifth_up .our_works,
  .second_section .eighth_up .our_works,
  .fifth_section .eighth_up .our_works,
  .eighth_section .eighth_up .our_works,
  .eleventh_section .eighth_up .our_works,
  .fourteenth_section .eighth_up .our_works,
  .fourteenth_section .eighth_up .our_works,
  .seventeenth_section .eighth_up .our_works,
  .second_section .eleventh_up .our_works,
  .fifth_section .eleventh_up .our_works,
  .eighth_section .eleventh_up .our_works,
  .eleventh_section .eleventh_up .our_works,
  .fourteenth_section .eleventh_up .our_works,
  .fourteenth_section .eleventh_up .our_works,
  .seventeenth_section .eleventh_up .our_works,
  .second_section .fourteenth_up .our_works,
  .fifth_section .fourteenth_up .our_works,
  .eighth_section .fourteenth_up .our_works,
  .eleventh_section .fourteenth_up .our_works,
  .fourteenth_section .fourteenth_up .our_works,
  .fourteenth_section .fourteenth_up .our_works,
  .seventeenth_section .fourteenth_up .our_works,
  .second_section .seventeenth_up .our_works,
  .fifth_section .seventeenth_up .our_works,
  .eighth_section .seventeenth_up .our_works,
  .eleventh_section .seventeenth_up .our_works,
  .fourteenth_section .seventeenth_up .our_works,
  .fourteenth_section .seventeenth_up .our_works,
  .seventeenth_section .seventeenth_up .our_works,
  .second_section .second_up .our_blog,
  .fifth_section .second_up .our_blog,
  .eighth_section .second_up .our_blog,
  .eleventh_section .second_up .our_blog,
  .fourteenth_section .second_up .our_blog,
  .fourteenth_section .second_up .our_blog,
  .seventeenth_section .second_up .our_blog,
  .second_section .fifth_up .our_blog,
  .fifth_section .fifth_up .our_blog,
  .eighth_section .fifth_up .our_blog,
  .eleventh_section .fifth_up .our_blog,
  .fourteenth_section .fifth_up .our_blog,
  .fourteenth_section .fifth_up .our_blog,
  .seventeenth_section .fifth_up .our_blog,
  .second_section .eighth_up .our_blog,
  .fifth_section .eighth_up .our_blog,
  .eighth_section .eighth_up .our_blog,
  .eleventh_section .eighth_up .our_blog,
  .fourteenth_section .eighth_up .our_blog,
  .fourteenth_section .eighth_up .our_blog,
  .seventeenth_section .eighth_up .our_blog,
  .second_section .eleventh_up .our_blog,
  .fifth_section .eleventh_up .our_blog,
  .eighth_section .eleventh_up .our_blog,
  .eleventh_section .eleventh_up .our_blog,
  .fourteenth_section .eleventh_up .our_blog,
  .fourteenth_section .eleventh_up .our_blog,
  .seventeenth_section .eleventh_up .our_blog,
  .second_section .fourteenth_up .our_blog,
  .fifth_section .fourteenth_up .our_blog,
  .eighth_section .fourteenth_up .our_blog,
  .eleventh_section .fourteenth_up .our_blog,
  .fourteenth_section .fourteenth_up .our_blog,
  .fourteenth_section .fourteenth_up .our_blog,
  .seventeenth_section .fourteenth_up .our_blog,
  .second_section .seventeenth_up .our_blog,
  .fifth_section .seventeenth_up .our_blog,
  .eighth_section .seventeenth_up .our_blog,
  .eleventh_section .seventeenth_up .our_blog,
  .fourteenth_section .seventeenth_up .our_blog,
  .fourteenth_section .seventeenth_up .our_blog,
  .seventeenth_section .seventeenth_up .our_blog,
  .second_section .second_up .touch,
  .fifth_section .second_up .touch,
  .eighth_section .second_up .touch,
  .eleventh_section .second_up .touch,
  .fourteenth_section .second_up .touch,
  .fourteenth_section .second_up .touch,
  .seventeenth_section .second_up .touch,
  .second_section .fifth_up .touch,
  .fifth_section .fifth_up .touch,
  .eighth_section .fifth_up .touch,
  .eleventh_section .fifth_up .touch,
  .fourteenth_section .fifth_up .touch,
  .fourteenth_section .fifth_up .touch,
  .seventeenth_section .fifth_up .touch,
  .second_section .eighth_up .touch,
  .fifth_section .eighth_up .touch,
  .eighth_section .eighth_up .touch,
  .eleventh_section .eighth_up .touch,
  .fourteenth_section .eighth_up .touch,
  .fourteenth_section .eighth_up .touch,
  .seventeenth_section .eighth_up .touch,
  .second_section .eleventh_up .touch,
  .fifth_section .eleventh_up .touch,
  .eighth_section .eleventh_up .touch,
  .eleventh_section .eleventh_up .touch,
  .fourteenth_section .eleventh_up .touch,
  .fourteenth_section .eleventh_up .touch,
  .seventeenth_section .eleventh_up .touch,
  .second_section .fourteenth_up .touch,
  .fifth_section .fourteenth_up .touch,
  .eighth_section .fourteenth_up .touch,
  .eleventh_section .fourteenth_up .touch,
  .fourteenth_section .fourteenth_up .touch,
  .fourteenth_section .fourteenth_up .touch,
  .seventeenth_section .fourteenth_up .touch,
  .second_section .seventeenth_up .touch,
  .fifth_section .seventeenth_up .touch,
  .eighth_section .seventeenth_up .touch,
  .eleventh_section .seventeenth_up .touch,
  .fourteenth_section .seventeenth_up .touch,
  .fourteenth_section .seventeenth_up .touch,
  .seventeenth_section .seventeenth_up .touch {
    width: 100%!important;
    text-align: left;
  }
  .second_section .second_up .up_about h1,
  .fifth_section .second_up .up_about h1,
  .eighth_section .second_up .up_about h1,
  .eleventh_section .second_up .up_about h1,
  .fourteenth_section .second_up .up_about h1,
  .fourteenth_section .second_up .up_about h1,
  .seventeenth_section .second_up .up_about h1,
  .second_section .fifth_up .up_about h1,
  .fifth_section .fifth_up .up_about h1,
  .eighth_section .fifth_up .up_about h1,
  .eleventh_section .fifth_up .up_about h1,
  .fourteenth_section .fifth_up .up_about h1,
  .fourteenth_section .fifth_up .up_about h1,
  .seventeenth_section .fifth_up .up_about h1,
  .second_section .eighth_up .up_about h1,
  .fifth_section .eighth_up .up_about h1,
  .eighth_section .eighth_up .up_about h1,
  .eleventh_section .eighth_up .up_about h1,
  .fourteenth_section .eighth_up .up_about h1,
  .fourteenth_section .eighth_up .up_about h1,
  .seventeenth_section .eighth_up .up_about h1,
  .second_section .eleventh_up .up_about h1,
  .fifth_section .eleventh_up .up_about h1,
  .eighth_section .eleventh_up .up_about h1,
  .eleventh_section .eleventh_up .up_about h1,
  .fourteenth_section .eleventh_up .up_about h1,
  .fourteenth_section .eleventh_up .up_about h1,
  .seventeenth_section .eleventh_up .up_about h1,
  .second_section .fourteenth_up .up_about h1,
  .fifth_section .fourteenth_up .up_about h1,
  .eighth_section .fourteenth_up .up_about h1,
  .eleventh_section .fourteenth_up .up_about h1,
  .fourteenth_section .fourteenth_up .up_about h1,
  .fourteenth_section .fourteenth_up .up_about h1,
  .seventeenth_section .fourteenth_up .up_about h1,
  .second_section .seventeenth_up .up_about h1,
  .fifth_section .seventeenth_up .up_about h1,
  .eighth_section .seventeenth_up .up_about h1,
  .eleventh_section .seventeenth_up .up_about h1,
  .fourteenth_section .seventeenth_up .up_about h1,
  .fourteenth_section .seventeenth_up .up_about h1,
  .seventeenth_section .seventeenth_up .up_about h1,
  .second_section .second_up .team_h h1,
  .fifth_section .second_up .team_h h1,
  .eighth_section .second_up .team_h h1,
  .eleventh_section .second_up .team_h h1,
  .fourteenth_section .second_up .team_h h1,
  .fourteenth_section .second_up .team_h h1,
  .seventeenth_section .second_up .team_h h1,
  .second_section .fifth_up .team_h h1,
  .fifth_section .fifth_up .team_h h1,
  .eighth_section .fifth_up .team_h h1,
  .eleventh_section .fifth_up .team_h h1,
  .fourteenth_section .fifth_up .team_h h1,
  .fourteenth_section .fifth_up .team_h h1,
  .seventeenth_section .fifth_up .team_h h1,
  .second_section .eighth_up .team_h h1,
  .fifth_section .eighth_up .team_h h1,
  .eighth_section .eighth_up .team_h h1,
  .eleventh_section .eighth_up .team_h h1,
  .fourteenth_section .eighth_up .team_h h1,
  .fourteenth_section .eighth_up .team_h h1,
  .seventeenth_section .eighth_up .team_h h1,
  .second_section .eleventh_up .team_h h1,
  .fifth_section .eleventh_up .team_h h1,
  .eighth_section .eleventh_up .team_h h1,
  .eleventh_section .eleventh_up .team_h h1,
  .fourteenth_section .eleventh_up .team_h h1,
  .fourteenth_section .eleventh_up .team_h h1,
  .seventeenth_section .eleventh_up .team_h h1,
  .second_section .fourteenth_up .team_h h1,
  .fifth_section .fourteenth_up .team_h h1,
  .eighth_section .fourteenth_up .team_h h1,
  .eleventh_section .fourteenth_up .team_h h1,
  .fourteenth_section .fourteenth_up .team_h h1,
  .fourteenth_section .fourteenth_up .team_h h1,
  .seventeenth_section .fourteenth_up .team_h h1,
  .second_section .seventeenth_up .team_h h1,
  .fifth_section .seventeenth_up .team_h h1,
  .eighth_section .seventeenth_up .team_h h1,
  .eleventh_section .seventeenth_up .team_h h1,
  .fourteenth_section .seventeenth_up .team_h h1,
  .fourteenth_section .seventeenth_up .team_h h1,
  .seventeenth_section .seventeenth_up .team_h h1,
  .second_section .second_up .do_h h1,
  .fifth_section .second_up .do_h h1,
  .eighth_section .second_up .do_h h1,
  .eleventh_section .second_up .do_h h1,
  .fourteenth_section .second_up .do_h h1,
  .fourteenth_section .second_up .do_h h1,
  .seventeenth_section .second_up .do_h h1,
  .second_section .fifth_up .do_h h1,
  .fifth_section .fifth_up .do_h h1,
  .eighth_section .fifth_up .do_h h1,
  .eleventh_section .fifth_up .do_h h1,
  .fourteenth_section .fifth_up .do_h h1,
  .fourteenth_section .fifth_up .do_h h1,
  .seventeenth_section .fifth_up .do_h h1,
  .second_section .eighth_up .do_h h1,
  .fifth_section .eighth_up .do_h h1,
  .eighth_section .eighth_up .do_h h1,
  .eleventh_section .eighth_up .do_h h1,
  .fourteenth_section .eighth_up .do_h h1,
  .fourteenth_section .eighth_up .do_h h1,
  .seventeenth_section .eighth_up .do_h h1,
  .second_section .eleventh_up .do_h h1,
  .fifth_section .eleventh_up .do_h h1,
  .eighth_section .eleventh_up .do_h h1,
  .eleventh_section .eleventh_up .do_h h1,
  .fourteenth_section .eleventh_up .do_h h1,
  .fourteenth_section .eleventh_up .do_h h1,
  .seventeenth_section .eleventh_up .do_h h1,
  .second_section .fourteenth_up .do_h h1,
  .fifth_section .fourteenth_up .do_h h1,
  .eighth_section .fourteenth_up .do_h h1,
  .eleventh_section .fourteenth_up .do_h h1,
  .fourteenth_section .fourteenth_up .do_h h1,
  .fourteenth_section .fourteenth_up .do_h h1,
  .seventeenth_section .fourteenth_up .do_h h1,
  .second_section .seventeenth_up .do_h h1,
  .fifth_section .seventeenth_up .do_h h1,
  .eighth_section .seventeenth_up .do_h h1,
  .eleventh_section .seventeenth_up .do_h h1,
  .fourteenth_section .seventeenth_up .do_h h1,
  .fourteenth_section .seventeenth_up .do_h h1,
  .seventeenth_section .seventeenth_up .do_h h1,
  .second_section .second_up .our_works h1,
  .fifth_section .second_up .our_works h1,
  .eighth_section .second_up .our_works h1,
  .eleventh_section .second_up .our_works h1,
  .fourteenth_section .second_up .our_works h1,
  .fourteenth_section .second_up .our_works h1,
  .seventeenth_section .second_up .our_works h1,
  .second_section .fifth_up .our_works h1,
  .fifth_section .fifth_up .our_works h1,
  .eighth_section .fifth_up .our_works h1,
  .eleventh_section .fifth_up .our_works h1,
  .fourteenth_section .fifth_up .our_works h1,
  .fourteenth_section .fifth_up .our_works h1,
  .seventeenth_section .fifth_up .our_works h1,
  .second_section .eighth_up .our_works h1,
  .fifth_section .eighth_up .our_works h1,
  .eighth_section .eighth_up .our_works h1,
  .eleventh_section .eighth_up .our_works h1,
  .fourteenth_section .eighth_up .our_works h1,
  .fourteenth_section .eighth_up .our_works h1,
  .seventeenth_section .eighth_up .our_works h1,
  .second_section .eleventh_up .our_works h1,
  .fifth_section .eleventh_up .our_works h1,
  .eighth_section .eleventh_up .our_works h1,
  .eleventh_section .eleventh_up .our_works h1,
  .fourteenth_section .eleventh_up .our_works h1,
  .fourteenth_section .eleventh_up .our_works h1,
  .seventeenth_section .eleventh_up .our_works h1,
  .second_section .fourteenth_up .our_works h1,
  .fifth_section .fourteenth_up .our_works h1,
  .eighth_section .fourteenth_up .our_works h1,
  .eleventh_section .fourteenth_up .our_works h1,
  .fourteenth_section .fourteenth_up .our_works h1,
  .fourteenth_section .fourteenth_up .our_works h1,
  .seventeenth_section .fourteenth_up .our_works h1,
  .second_section .seventeenth_up .our_works h1,
  .fifth_section .seventeenth_up .our_works h1,
  .eighth_section .seventeenth_up .our_works h1,
  .eleventh_section .seventeenth_up .our_works h1,
  .fourteenth_section .seventeenth_up .our_works h1,
  .fourteenth_section .seventeenth_up .our_works h1,
  .seventeenth_section .seventeenth_up .our_works h1,
  .second_section .second_up .our_blog h1,
  .fifth_section .second_up .our_blog h1,
  .eighth_section .second_up .our_blog h1,
  .eleventh_section .second_up .our_blog h1,
  .fourteenth_section .second_up .our_blog h1,
  .fourteenth_section .second_up .our_blog h1,
  .seventeenth_section .second_up .our_blog h1,
  .second_section .fifth_up .our_blog h1,
  .fifth_section .fifth_up .our_blog h1,
  .eighth_section .fifth_up .our_blog h1,
  .eleventh_section .fifth_up .our_blog h1,
  .fourteenth_section .fifth_up .our_blog h1,
  .fourteenth_section .fifth_up .our_blog h1,
  .seventeenth_section .fifth_up .our_blog h1,
  .second_section .eighth_up .our_blog h1,
  .fifth_section .eighth_up .our_blog h1,
  .eighth_section .eighth_up .our_blog h1,
  .eleventh_section .eighth_up .our_blog h1,
  .fourteenth_section .eighth_up .our_blog h1,
  .fourteenth_section .eighth_up .our_blog h1,
  .seventeenth_section .eighth_up .our_blog h1,
  .second_section .eleventh_up .our_blog h1,
  .fifth_section .eleventh_up .our_blog h1,
  .eighth_section .eleventh_up .our_blog h1,
  .eleventh_section .eleventh_up .our_blog h1,
  .fourteenth_section .eleventh_up .our_blog h1,
  .fourteenth_section .eleventh_up .our_blog h1,
  .seventeenth_section .eleventh_up .our_blog h1,
  .second_section .fourteenth_up .our_blog h1,
  .fifth_section .fourteenth_up .our_blog h1,
  .eighth_section .fourteenth_up .our_blog h1,
  .eleventh_section .fourteenth_up .our_blog h1,
  .fourteenth_section .fourteenth_up .our_blog h1,
  .fourteenth_section .fourteenth_up .our_blog h1,
  .seventeenth_section .fourteenth_up .our_blog h1,
  .second_section .seventeenth_up .our_blog h1,
  .fifth_section .seventeenth_up .our_blog h1,
  .eighth_section .seventeenth_up .our_blog h1,
  .eleventh_section .seventeenth_up .our_blog h1,
  .fourteenth_section .seventeenth_up .our_blog h1,
  .fourteenth_section .seventeenth_up .our_blog h1,
  .seventeenth_section .seventeenth_up .our_blog h1,
  .second_section .second_up .touch h1,
  .fifth_section .second_up .touch h1,
  .eighth_section .second_up .touch h1,
  .eleventh_section .second_up .touch h1,
  .fourteenth_section .second_up .touch h1,
  .fourteenth_section .second_up .touch h1,
  .seventeenth_section .second_up .touch h1,
  .second_section .fifth_up .touch h1,
  .fifth_section .fifth_up .touch h1,
  .eighth_section .fifth_up .touch h1,
  .eleventh_section .fifth_up .touch h1,
  .fourteenth_section .fifth_up .touch h1,
  .fourteenth_section .fifth_up .touch h1,
  .seventeenth_section .fifth_up .touch h1,
  .second_section .eighth_up .touch h1,
  .fifth_section .eighth_up .touch h1,
  .eighth_section .eighth_up .touch h1,
  .eleventh_section .eighth_up .touch h1,
  .fourteenth_section .eighth_up .touch h1,
  .fourteenth_section .eighth_up .touch h1,
  .seventeenth_section .eighth_up .touch h1,
  .second_section .eleventh_up .touch h1,
  .fifth_section .eleventh_up .touch h1,
  .eighth_section .eleventh_up .touch h1,
  .eleventh_section .eleventh_up .touch h1,
  .fourteenth_section .eleventh_up .touch h1,
  .fourteenth_section .eleventh_up .touch h1,
  .seventeenth_section .eleventh_up .touch h1,
  .second_section .fourteenth_up .touch h1,
  .fifth_section .fourteenth_up .touch h1,
  .eighth_section .fourteenth_up .touch h1,
  .eleventh_section .fourteenth_up .touch h1,
  .fourteenth_section .fourteenth_up .touch h1,
  .fourteenth_section .fourteenth_up .touch h1,
  .seventeenth_section .fourteenth_up .touch h1,
  .second_section .seventeenth_up .touch h1,
  .fifth_section .seventeenth_up .touch h1,
  .eighth_section .seventeenth_up .touch h1,
  .eleventh_section .seventeenth_up .touch h1,
  .fourteenth_section .seventeenth_up .touch h1,
  .fourteenth_section .seventeenth_up .touch h1,
  .seventeenth_section .seventeenth_up .touch h1 {
    float: left;
    font-size: 3.5em;
    margin-left: 0;
  }
  .second_section .second_up .up_about .h_2,
  .fifth_section .second_up .up_about .h_2,
  .eighth_section .second_up .up_about .h_2,
  .eleventh_section .second_up .up_about .h_2,
  .fourteenth_section .second_up .up_about .h_2,
  .fourteenth_section .second_up .up_about .h_2,
  .seventeenth_section .second_up .up_about .h_2,
  .second_section .fifth_up .up_about .h_2,
  .fifth_section .fifth_up .up_about .h_2,
  .eighth_section .fifth_up .up_about .h_2,
  .eleventh_section .fifth_up .up_about .h_2,
  .fourteenth_section .fifth_up .up_about .h_2,
  .fourteenth_section .fifth_up .up_about .h_2,
  .seventeenth_section .fifth_up .up_about .h_2,
  .second_section .eighth_up .up_about .h_2,
  .fifth_section .eighth_up .up_about .h_2,
  .eighth_section .eighth_up .up_about .h_2,
  .eleventh_section .eighth_up .up_about .h_2,
  .fourteenth_section .eighth_up .up_about .h_2,
  .fourteenth_section .eighth_up .up_about .h_2,
  .seventeenth_section .eighth_up .up_about .h_2,
  .second_section .eleventh_up .up_about .h_2,
  .fifth_section .eleventh_up .up_about .h_2,
  .eighth_section .eleventh_up .up_about .h_2,
  .eleventh_section .eleventh_up .up_about .h_2,
  .fourteenth_section .eleventh_up .up_about .h_2,
  .fourteenth_section .eleventh_up .up_about .h_2,
  .seventeenth_section .eleventh_up .up_about .h_2,
  .second_section .fourteenth_up .up_about .h_2,
  .fifth_section .fourteenth_up .up_about .h_2,
  .eighth_section .fourteenth_up .up_about .h_2,
  .eleventh_section .fourteenth_up .up_about .h_2,
  .fourteenth_section .fourteenth_up .up_about .h_2,
  .fourteenth_section .fourteenth_up .up_about .h_2,
  .seventeenth_section .fourteenth_up .up_about .h_2,
  .second_section .seventeenth_up .up_about .h_2,
  .fifth_section .seventeenth_up .up_about .h_2,
  .eighth_section .seventeenth_up .up_about .h_2,
  .eleventh_section .seventeenth_up .up_about .h_2,
  .fourteenth_section .seventeenth_up .up_about .h_2,
  .fourteenth_section .seventeenth_up .up_about .h_2,
  .seventeenth_section .seventeenth_up .up_about .h_2,
  .second_section .second_up .team_h .h_2,
  .fifth_section .second_up .team_h .h_2,
  .eighth_section .second_up .team_h .h_2,
  .eleventh_section .second_up .team_h .h_2,
  .fourteenth_section .second_up .team_h .h_2,
  .fourteenth_section .second_up .team_h .h_2,
  .seventeenth_section .second_up .team_h .h_2,
  .second_section .fifth_up .team_h .h_2,
  .fifth_section .fifth_up .team_h .h_2,
  .eighth_section .fifth_up .team_h .h_2,
  .eleventh_section .fifth_up .team_h .h_2,
  .fourteenth_section .fifth_up .team_h .h_2,
  .fourteenth_section .fifth_up .team_h .h_2,
  .seventeenth_section .fifth_up .team_h .h_2,
  .second_section .eighth_up .team_h .h_2,
  .fifth_section .eighth_up .team_h .h_2,
  .eighth_section .eighth_up .team_h .h_2,
  .eleventh_section .eighth_up .team_h .h_2,
  .fourteenth_section .eighth_up .team_h .h_2,
  .fourteenth_section .eighth_up .team_h .h_2,
  .seventeenth_section .eighth_up .team_h .h_2,
  .second_section .eleventh_up .team_h .h_2,
  .fifth_section .eleventh_up .team_h .h_2,
  .eighth_section .eleventh_up .team_h .h_2,
  .eleventh_section .eleventh_up .team_h .h_2,
  .fourteenth_section .eleventh_up .team_h .h_2,
  .fourteenth_section .eleventh_up .team_h .h_2,
  .seventeenth_section .eleventh_up .team_h .h_2,
  .second_section .fourteenth_up .team_h .h_2,
  .fifth_section .fourteenth_up .team_h .h_2,
  .eighth_section .fourteenth_up .team_h .h_2,
  .eleventh_section .fourteenth_up .team_h .h_2,
  .fourteenth_section .fourteenth_up .team_h .h_2,
  .fourteenth_section .fourteenth_up .team_h .h_2,
  .seventeenth_section .fourteenth_up .team_h .h_2,
  .second_section .seventeenth_up .team_h .h_2,
  .fifth_section .seventeenth_up .team_h .h_2,
  .eighth_section .seventeenth_up .team_h .h_2,
  .eleventh_section .seventeenth_up .team_h .h_2,
  .fourteenth_section .seventeenth_up .team_h .h_2,
  .fourteenth_section .seventeenth_up .team_h .h_2,
  .seventeenth_section .seventeenth_up .team_h .h_2,
  .second_section .second_up .do_h .h_2,
  .fifth_section .second_up .do_h .h_2,
  .eighth_section .second_up .do_h .h_2,
  .eleventh_section .second_up .do_h .h_2,
  .fourteenth_section .second_up .do_h .h_2,
  .fourteenth_section .second_up .do_h .h_2,
  .seventeenth_section .second_up .do_h .h_2,
  .second_section .fifth_up .do_h .h_2,
  .fifth_section .fifth_up .do_h .h_2,
  .eighth_section .fifth_up .do_h .h_2,
  .eleventh_section .fifth_up .do_h .h_2,
  .fourteenth_section .fifth_up .do_h .h_2,
  .fourteenth_section .fifth_up .do_h .h_2,
  .seventeenth_section .fifth_up .do_h .h_2,
  .second_section .eighth_up .do_h .h_2,
  .fifth_section .eighth_up .do_h .h_2,
  .eighth_section .eighth_up .do_h .h_2,
  .eleventh_section .eighth_up .do_h .h_2,
  .fourteenth_section .eighth_up .do_h .h_2,
  .fourteenth_section .eighth_up .do_h .h_2,
  .seventeenth_section .eighth_up .do_h .h_2,
  .second_section .eleventh_up .do_h .h_2,
  .fifth_section .eleventh_up .do_h .h_2,
  .eighth_section .eleventh_up .do_h .h_2,
  .eleventh_section .eleventh_up .do_h .h_2,
  .fourteenth_section .eleventh_up .do_h .h_2,
  .fourteenth_section .eleventh_up .do_h .h_2,
  .seventeenth_section .eleventh_up .do_h .h_2,
  .second_section .fourteenth_up .do_h .h_2,
  .fifth_section .fourteenth_up .do_h .h_2,
  .eighth_section .fourteenth_up .do_h .h_2,
  .eleventh_section .fourteenth_up .do_h .h_2,
  .fourteenth_section .fourteenth_up .do_h .h_2,
  .fourteenth_section .fourteenth_up .do_h .h_2,
  .seventeenth_section .fourteenth_up .do_h .h_2,
  .second_section .seventeenth_up .do_h .h_2,
  .fifth_section .seventeenth_up .do_h .h_2,
  .eighth_section .seventeenth_up .do_h .h_2,
  .eleventh_section .seventeenth_up .do_h .h_2,
  .fourteenth_section .seventeenth_up .do_h .h_2,
  .fourteenth_section .seventeenth_up .do_h .h_2,
  .seventeenth_section .seventeenth_up .do_h .h_2,
  .second_section .second_up .our_works .h_2,
  .fifth_section .second_up .our_works .h_2,
  .eighth_section .second_up .our_works .h_2,
  .eleventh_section .second_up .our_works .h_2,
  .fourteenth_section .second_up .our_works .h_2,
  .fourteenth_section .second_up .our_works .h_2,
  .seventeenth_section .second_up .our_works .h_2,
  .second_section .fifth_up .our_works .h_2,
  .fifth_section .fifth_up .our_works .h_2,
  .eighth_section .fifth_up .our_works .h_2,
  .eleventh_section .fifth_up .our_works .h_2,
  .fourteenth_section .fifth_up .our_works .h_2,
  .fourteenth_section .fifth_up .our_works .h_2,
  .seventeenth_section .fifth_up .our_works .h_2,
  .second_section .eighth_up .our_works .h_2,
  .fifth_section .eighth_up .our_works .h_2,
  .eighth_section .eighth_up .our_works .h_2,
  .eleventh_section .eighth_up .our_works .h_2,
  .fourteenth_section .eighth_up .our_works .h_2,
  .fourteenth_section .eighth_up .our_works .h_2,
  .seventeenth_section .eighth_up .our_works .h_2,
  .second_section .eleventh_up .our_works .h_2,
  .fifth_section .eleventh_up .our_works .h_2,
  .eighth_section .eleventh_up .our_works .h_2,
  .eleventh_section .eleventh_up .our_works .h_2,
  .fourteenth_section .eleventh_up .our_works .h_2,
  .fourteenth_section .eleventh_up .our_works .h_2,
  .seventeenth_section .eleventh_up .our_works .h_2,
  .second_section .fourteenth_up .our_works .h_2,
  .fifth_section .fourteenth_up .our_works .h_2,
  .eighth_section .fourteenth_up .our_works .h_2,
  .eleventh_section .fourteenth_up .our_works .h_2,
  .fourteenth_section .fourteenth_up .our_works .h_2,
  .fourteenth_section .fourteenth_up .our_works .h_2,
  .seventeenth_section .fourteenth_up .our_works .h_2,
  .second_section .seventeenth_up .our_works .h_2,
  .fifth_section .seventeenth_up .our_works .h_2,
  .eighth_section .seventeenth_up .our_works .h_2,
  .eleventh_section .seventeenth_up .our_works .h_2,
  .fourteenth_section .seventeenth_up .our_works .h_2,
  .fourteenth_section .seventeenth_up .our_works .h_2,
  .seventeenth_section .seventeenth_up .our_works .h_2,
  .second_section .second_up .our_blog .h_2,
  .fifth_section .second_up .our_blog .h_2,
  .eighth_section .second_up .our_blog .h_2,
  .eleventh_section .second_up .our_blog .h_2,
  .fourteenth_section .second_up .our_blog .h_2,
  .fourteenth_section .second_up .our_blog .h_2,
  .seventeenth_section .second_up .our_blog .h_2,
  .second_section .fifth_up .our_blog .h_2,
  .fifth_section .fifth_up .our_blog .h_2,
  .eighth_section .fifth_up .our_blog .h_2,
  .eleventh_section .fifth_up .our_blog .h_2,
  .fourteenth_section .fifth_up .our_blog .h_2,
  .fourteenth_section .fifth_up .our_blog .h_2,
  .seventeenth_section .fifth_up .our_blog .h_2,
  .second_section .eighth_up .our_blog .h_2,
  .fifth_section .eighth_up .our_blog .h_2,
  .eighth_section .eighth_up .our_blog .h_2,
  .eleventh_section .eighth_up .our_blog .h_2,
  .fourteenth_section .eighth_up .our_blog .h_2,
  .fourteenth_section .eighth_up .our_blog .h_2,
  .seventeenth_section .eighth_up .our_blog .h_2,
  .second_section .eleventh_up .our_blog .h_2,
  .fifth_section .eleventh_up .our_blog .h_2,
  .eighth_section .eleventh_up .our_blog .h_2,
  .eleventh_section .eleventh_up .our_blog .h_2,
  .fourteenth_section .eleventh_up .our_blog .h_2,
  .fourteenth_section .eleventh_up .our_blog .h_2,
  .seventeenth_section .eleventh_up .our_blog .h_2,
  .second_section .fourteenth_up .our_blog .h_2,
  .fifth_section .fourteenth_up .our_blog .h_2,
  .eighth_section .fourteenth_up .our_blog .h_2,
  .eleventh_section .fourteenth_up .our_blog .h_2,
  .fourteenth_section .fourteenth_up .our_blog .h_2,
  .fourteenth_section .fourteenth_up .our_blog .h_2,
  .seventeenth_section .fourteenth_up .our_blog .h_2,
  .second_section .seventeenth_up .our_blog .h_2,
  .fifth_section .seventeenth_up .our_blog .h_2,
  .eighth_section .seventeenth_up .our_blog .h_2,
  .eleventh_section .seventeenth_up .our_blog .h_2,
  .fourteenth_section .seventeenth_up .our_blog .h_2,
  .fourteenth_section .seventeenth_up .our_blog .h_2,
  .seventeenth_section .seventeenth_up .our_blog .h_2,
  .second_section .second_up .touch .h_2,
  .fifth_section .second_up .touch .h_2,
  .eighth_section .second_up .touch .h_2,
  .eleventh_section .second_up .touch .h_2,
  .fourteenth_section .second_up .touch .h_2,
  .fourteenth_section .second_up .touch .h_2,
  .seventeenth_section .second_up .touch .h_2,
  .second_section .fifth_up .touch .h_2,
  .fifth_section .fifth_up .touch .h_2,
  .eighth_section .fifth_up .touch .h_2,
  .eleventh_section .fifth_up .touch .h_2,
  .fourteenth_section .fifth_up .touch .h_2,
  .fourteenth_section .fifth_up .touch .h_2,
  .seventeenth_section .fifth_up .touch .h_2,
  .second_section .eighth_up .touch .h_2,
  .fifth_section .eighth_up .touch .h_2,
  .eighth_section .eighth_up .touch .h_2,
  .eleventh_section .eighth_up .touch .h_2,
  .fourteenth_section .eighth_up .touch .h_2,
  .fourteenth_section .eighth_up .touch .h_2,
  .seventeenth_section .eighth_up .touch .h_2,
  .second_section .eleventh_up .touch .h_2,
  .fifth_section .eleventh_up .touch .h_2,
  .eighth_section .eleventh_up .touch .h_2,
  .eleventh_section .eleventh_up .touch .h_2,
  .fourteenth_section .eleventh_up .touch .h_2,
  .fourteenth_section .eleventh_up .touch .h_2,
  .seventeenth_section .eleventh_up .touch .h_2,
  .second_section .fourteenth_up .touch .h_2,
  .fifth_section .fourteenth_up .touch .h_2,
  .eighth_section .fourteenth_up .touch .h_2,
  .eleventh_section .fourteenth_up .touch .h_2,
  .fourteenth_section .fourteenth_up .touch .h_2,
  .fourteenth_section .fourteenth_up .touch .h_2,
  .seventeenth_section .fourteenth_up .touch .h_2,
  .second_section .seventeenth_up .touch .h_2,
  .fifth_section .seventeenth_up .touch .h_2,
  .eighth_section .seventeenth_up .touch .h_2,
  .eleventh_section .seventeenth_up .touch .h_2,
  .fourteenth_section .seventeenth_up .touch .h_2,
  .fourteenth_section .seventeenth_up .touch .h_2,
  .seventeenth_section .seventeenth_up .touch .h_2 {
    margin-left: 20px;
  }
  .second_section .second_up .up_text,
  .fifth_section .second_up .up_text,
  .eighth_section .second_up .up_text,
  .eleventh_section .second_up .up_text,
  .fourteenth_section .second_up .up_text,
  .fourteenth_section .second_up .up_text,
  .seventeenth_section .second_up .up_text,
  .second_section .fifth_up .up_text,
  .fifth_section .fifth_up .up_text,
  .eighth_section .fifth_up .up_text,
  .eleventh_section .fifth_up .up_text,
  .fourteenth_section .fifth_up .up_text,
  .fourteenth_section .fifth_up .up_text,
  .seventeenth_section .fifth_up .up_text,
  .second_section .eighth_up .up_text,
  .fifth_section .eighth_up .up_text,
  .eighth_section .eighth_up .up_text,
  .eleventh_section .eighth_up .up_text,
  .fourteenth_section .eighth_up .up_text,
  .fourteenth_section .eighth_up .up_text,
  .seventeenth_section .eighth_up .up_text,
  .second_section .eleventh_up .up_text,
  .fifth_section .eleventh_up .up_text,
  .eighth_section .eleventh_up .up_text,
  .eleventh_section .eleventh_up .up_text,
  .fourteenth_section .eleventh_up .up_text,
  .fourteenth_section .eleventh_up .up_text,
  .seventeenth_section .eleventh_up .up_text,
  .second_section .fourteenth_up .up_text,
  .fifth_section .fourteenth_up .up_text,
  .eighth_section .fourteenth_up .up_text,
  .eleventh_section .fourteenth_up .up_text,
  .fourteenth_section .fourteenth_up .up_text,
  .fourteenth_section .fourteenth_up .up_text,
  .seventeenth_section .fourteenth_up .up_text,
  .second_section .seventeenth_up .up_text,
  .fifth_section .seventeenth_up .up_text,
  .eighth_section .seventeenth_up .up_text,
  .eleventh_section .seventeenth_up .up_text,
  .fourteenth_section .seventeenth_up .up_text,
  .fourteenth_section .seventeenth_up .up_text,
  .seventeenth_section .seventeenth_up .up_text,
  .second_section .second_up .team_text,
  .fifth_section .second_up .team_text,
  .eighth_section .second_up .team_text,
  .eleventh_section .second_up .team_text,
  .fourteenth_section .second_up .team_text,
  .fourteenth_section .second_up .team_text,
  .seventeenth_section .second_up .team_text,
  .second_section .fifth_up .team_text,
  .fifth_section .fifth_up .team_text,
  .eighth_section .fifth_up .team_text,
  .eleventh_section .fifth_up .team_text,
  .fourteenth_section .fifth_up .team_text,
  .fourteenth_section .fifth_up .team_text,
  .seventeenth_section .fifth_up .team_text,
  .second_section .eighth_up .team_text,
  .fifth_section .eighth_up .team_text,
  .eighth_section .eighth_up .team_text,
  .eleventh_section .eighth_up .team_text,
  .fourteenth_section .eighth_up .team_text,
  .fourteenth_section .eighth_up .team_text,
  .seventeenth_section .eighth_up .team_text,
  .second_section .eleventh_up .team_text,
  .fifth_section .eleventh_up .team_text,
  .eighth_section .eleventh_up .team_text,
  .eleventh_section .eleventh_up .team_text,
  .fourteenth_section .eleventh_up .team_text,
  .fourteenth_section .eleventh_up .team_text,
  .seventeenth_section .eleventh_up .team_text,
  .second_section .fourteenth_up .team_text,
  .fifth_section .fourteenth_up .team_text,
  .eighth_section .fourteenth_up .team_text,
  .eleventh_section .fourteenth_up .team_text,
  .fourteenth_section .fourteenth_up .team_text,
  .fourteenth_section .fourteenth_up .team_text,
  .seventeenth_section .fourteenth_up .team_text,
  .second_section .seventeenth_up .team_text,
  .fifth_section .seventeenth_up .team_text,
  .eighth_section .seventeenth_up .team_text,
  .eleventh_section .seventeenth_up .team_text,
  .fourteenth_section .seventeenth_up .team_text,
  .fourteenth_section .seventeenth_up .team_text,
  .seventeenth_section .seventeenth_up .team_text,
  .second_section .second_up .do_text,
  .fifth_section .second_up .do_text,
  .eighth_section .second_up .do_text,
  .eleventh_section .second_up .do_text,
  .fourteenth_section .second_up .do_text,
  .fourteenth_section .second_up .do_text,
  .seventeenth_section .second_up .do_text,
  .second_section .fifth_up .do_text,
  .fifth_section .fifth_up .do_text,
  .eighth_section .fifth_up .do_text,
  .eleventh_section .fifth_up .do_text,
  .fourteenth_section .fifth_up .do_text,
  .fourteenth_section .fifth_up .do_text,
  .seventeenth_section .fifth_up .do_text,
  .second_section .eighth_up .do_text,
  .fifth_section .eighth_up .do_text,
  .eighth_section .eighth_up .do_text,
  .eleventh_section .eighth_up .do_text,
  .fourteenth_section .eighth_up .do_text,
  .fourteenth_section .eighth_up .do_text,
  .seventeenth_section .eighth_up .do_text,
  .second_section .eleventh_up .do_text,
  .fifth_section .eleventh_up .do_text,
  .eighth_section .eleventh_up .do_text,
  .eleventh_section .eleventh_up .do_text,
  .fourteenth_section .eleventh_up .do_text,
  .fourteenth_section .eleventh_up .do_text,
  .seventeenth_section .eleventh_up .do_text,
  .second_section .fourteenth_up .do_text,
  .fifth_section .fourteenth_up .do_text,
  .eighth_section .fourteenth_up .do_text,
  .eleventh_section .fourteenth_up .do_text,
  .fourteenth_section .fourteenth_up .do_text,
  .fourteenth_section .fourteenth_up .do_text,
  .seventeenth_section .fourteenth_up .do_text,
  .second_section .seventeenth_up .do_text,
  .fifth_section .seventeenth_up .do_text,
  .eighth_section .seventeenth_up .do_text,
  .eleventh_section .seventeenth_up .do_text,
  .fourteenth_section .seventeenth_up .do_text,
  .fourteenth_section .seventeenth_up .do_text,
  .seventeenth_section .seventeenth_up .do_text,
  .second_section .second_up .our_works_text,
  .fifth_section .second_up .our_works_text,
  .eighth_section .second_up .our_works_text,
  .eleventh_section .second_up .our_works_text,
  .fourteenth_section .second_up .our_works_text,
  .fourteenth_section .second_up .our_works_text,
  .seventeenth_section .second_up .our_works_text,
  .second_section .fifth_up .our_works_text,
  .fifth_section .fifth_up .our_works_text,
  .eighth_section .fifth_up .our_works_text,
  .eleventh_section .fifth_up .our_works_text,
  .fourteenth_section .fifth_up .our_works_text,
  .fourteenth_section .fifth_up .our_works_text,
  .seventeenth_section .fifth_up .our_works_text,
  .second_section .eighth_up .our_works_text,
  .fifth_section .eighth_up .our_works_text,
  .eighth_section .eighth_up .our_works_text,
  .eleventh_section .eighth_up .our_works_text,
  .fourteenth_section .eighth_up .our_works_text,
  .fourteenth_section .eighth_up .our_works_text,
  .seventeenth_section .eighth_up .our_works_text,
  .second_section .eleventh_up .our_works_text,
  .fifth_section .eleventh_up .our_works_text,
  .eighth_section .eleventh_up .our_works_text,
  .eleventh_section .eleventh_up .our_works_text,
  .fourteenth_section .eleventh_up .our_works_text,
  .fourteenth_section .eleventh_up .our_works_text,
  .seventeenth_section .eleventh_up .our_works_text,
  .second_section .fourteenth_up .our_works_text,
  .fifth_section .fourteenth_up .our_works_text,
  .eighth_section .fourteenth_up .our_works_text,
  .eleventh_section .fourteenth_up .our_works_text,
  .fourteenth_section .fourteenth_up .our_works_text,
  .fourteenth_section .fourteenth_up .our_works_text,
  .seventeenth_section .fourteenth_up .our_works_text,
  .second_section .seventeenth_up .our_works_text,
  .fifth_section .seventeenth_up .our_works_text,
  .eighth_section .seventeenth_up .our_works_text,
  .eleventh_section .seventeenth_up .our_works_text,
  .fourteenth_section .seventeenth_up .our_works_text,
  .fourteenth_section .seventeenth_up .our_works_text,
  .seventeenth_section .seventeenth_up .our_works_text,
  .second_section .second_up .our_blog_text,
  .fifth_section .second_up .our_blog_text,
  .eighth_section .second_up .our_blog_text,
  .eleventh_section .second_up .our_blog_text,
  .fourteenth_section .second_up .our_blog_text,
  .fourteenth_section .second_up .our_blog_text,
  .seventeenth_section .second_up .our_blog_text,
  .second_section .fifth_up .our_blog_text,
  .fifth_section .fifth_up .our_blog_text,
  .eighth_section .fifth_up .our_blog_text,
  .eleventh_section .fifth_up .our_blog_text,
  .fourteenth_section .fifth_up .our_blog_text,
  .fourteenth_section .fifth_up .our_blog_text,
  .seventeenth_section .fifth_up .our_blog_text,
  .second_section .eighth_up .our_blog_text,
  .fifth_section .eighth_up .our_blog_text,
  .eighth_section .eighth_up .our_blog_text,
  .eleventh_section .eighth_up .our_blog_text,
  .fourteenth_section .eighth_up .our_blog_text,
  .fourteenth_section .eighth_up .our_blog_text,
  .seventeenth_section .eighth_up .our_blog_text,
  .second_section .eleventh_up .our_blog_text,
  .fifth_section .eleventh_up .our_blog_text,
  .eighth_section .eleventh_up .our_blog_text,
  .eleventh_section .eleventh_up .our_blog_text,
  .fourteenth_section .eleventh_up .our_blog_text,
  .fourteenth_section .eleventh_up .our_blog_text,
  .seventeenth_section .eleventh_up .our_blog_text,
  .second_section .fourteenth_up .our_blog_text,
  .fifth_section .fourteenth_up .our_blog_text,
  .eighth_section .fourteenth_up .our_blog_text,
  .eleventh_section .fourteenth_up .our_blog_text,
  .fourteenth_section .fourteenth_up .our_blog_text,
  .fourteenth_section .fourteenth_up .our_blog_text,
  .seventeenth_section .fourteenth_up .our_blog_text,
  .second_section .seventeenth_up .our_blog_text,
  .fifth_section .seventeenth_up .our_blog_text,
  .eighth_section .seventeenth_up .our_blog_text,
  .eleventh_section .seventeenth_up .our_blog_text,
  .fourteenth_section .seventeenth_up .our_blog_text,
  .fourteenth_section .seventeenth_up .our_blog_text,
  .seventeenth_section .seventeenth_up .our_blog_text,
  .second_section .second_up .touch_text,
  .fifth_section .second_up .touch_text,
  .eighth_section .second_up .touch_text,
  .eleventh_section .second_up .touch_text,
  .fourteenth_section .second_up .touch_text,
  .fourteenth_section .second_up .touch_text,
  .seventeenth_section .second_up .touch_text,
  .second_section .fifth_up .touch_text,
  .fifth_section .fifth_up .touch_text,
  .eighth_section .fifth_up .touch_text,
  .eleventh_section .fifth_up .touch_text,
  .fourteenth_section .fifth_up .touch_text,
  .fourteenth_section .fifth_up .touch_text,
  .seventeenth_section .fifth_up .touch_text,
  .second_section .eighth_up .touch_text,
  .fifth_section .eighth_up .touch_text,
  .eighth_section .eighth_up .touch_text,
  .eleventh_section .eighth_up .touch_text,
  .fourteenth_section .eighth_up .touch_text,
  .fourteenth_section .eighth_up .touch_text,
  .seventeenth_section .eighth_up .touch_text,
  .second_section .eleventh_up .touch_text,
  .fifth_section .eleventh_up .touch_text,
  .eighth_section .eleventh_up .touch_text,
  .eleventh_section .eleventh_up .touch_text,
  .fourteenth_section .eleventh_up .touch_text,
  .fourteenth_section .eleventh_up .touch_text,
  .seventeenth_section .eleventh_up .touch_text,
  .second_section .fourteenth_up .touch_text,
  .fifth_section .fourteenth_up .touch_text,
  .eighth_section .fourteenth_up .touch_text,
  .eleventh_section .fourteenth_up .touch_text,
  .fourteenth_section .fourteenth_up .touch_text,
  .fourteenth_section .fourteenth_up .touch_text,
  .seventeenth_section .fourteenth_up .touch_text,
  .second_section .seventeenth_up .touch_text,
  .fifth_section .seventeenth_up .touch_text,
  .eighth_section .seventeenth_up .touch_text,
  .eleventh_section .seventeenth_up .touch_text,
  .fourteenth_section .seventeenth_up .touch_text,
  .fourteenth_section .seventeenth_up .touch_text,
  .seventeenth_section .seventeenth_up .touch_text {
    width: 100%!important;
  }
  .second_section .second_down .down_img,
  .fifth_section .second_down .down_img,
  .eighth_section .second_down .down_img,
  .eleventh_section .second_down .down_img,
  .fourteenth_section .second_down .down_img,
  .fourteenth_section .second_down .down_img,
  .seventeenth_section .second_down .down_img,
  .second_section .second_down .down_text,
  .fifth_section .second_down .down_text,
  .eighth_section .second_down .down_text,
  .eleventh_section .second_down .down_text,
  .fourteenth_section .second_down .down_text,
  .fourteenth_section .second_down .down_text,
  .seventeenth_section .second_down .down_text {
    display: block;
  }
  .second_section .second_down .down_img,
  .fifth_section .second_down .down_img,
  .eighth_section .second_down .down_img,
  .eleventh_section .second_down .down_img,
  .fourteenth_section .second_down .down_img,
  .fourteenth_section .second_down .down_img,
  .seventeenth_section .second_down .down_img {
    width: 100%;
    margin-bottom: 50px;
  }
  .second_section .second_down .down_text,
  .fifth_section .second_down .down_text,
  .eighth_section .second_down .down_text,
  .eleventh_section .second_down .down_text,
  .fourteenth_section .second_down .down_text,
  .fourteenth_section .second_down .down_text,
  .seventeenth_section .second_down .down_text {
    width: 100%;
    text-align: left;
    padding-left: 0;
  }
  .third .statistic {
    width: 49%!important;
  }
  .fifth_section .teams .team_member {
    width: 47%;
    margin-bottom: 20px;
  }
  .sixth_section .skills_left,
  .sixth_section .skills_right {
    width: 96%;
  }
  .eighth_section .working ul li:nth-child(-n+2):nth-child(odd),
  .eighth_section .working ul li:nth-child(n+3):nth-child(-n+4):nth-child(even),
  .eighth_section .working ul li:nth-child(n+5):nth-child(-n+6):nth-child(odd),
  .eighth_section .working ul li:nth-child(n+7):nth-child(-n+8):nth-child(even) {
    background-color: #f2f2f2;
  }
  .eighth_section .working ul li:nth-child(-n+2):nth-child(even),
  .eighth_section .working ul li:nth-child(n+3):nth-child(-n+4):nth-child(odd),
  .eighth_section .working ul li:nth-child(n+5):nth-child(-n+6):nth-child(even),
  .eighth_section .working ul li:nth-child(n+7):nth-child(-n+8):nth-child(odd) {
    background-color: #f7f7f7;
  }
  .eighth_section .working ul .work_type {
    width: 50%!important;
  }
  .ninth_section .price .price_row {
    width: 45%;
  }
  .ninth_section .price .price_row .price_plan {
    left: 10%;
  }
  .eleventh_section .project {
    width: 33%!important;
  }
  .twelfth_section .clients {
    width: 340%;
  }
  .thirteenth_section .thirteenth_row p {
    font-size: 1.8em!important;
  }
  .fourteenth_section .blogs .blog_row {
    width: 96%;
  }
  .seventeenth_section .forms .form_box {
    width: 100%;
  }
  .eighteenth_section .contacts_row {
    width: 48%!important;
  }
}
@media screen and (max-width: 768px) {
  .top_section .banners h1 {
    font-size: 2em;
  }
  .top_section .banners p {
    font-size: 1.5em!important;
  }
  .fourth_section {
    height: 500px;
  }
  .fourth_section .fourth_row p {
    font-size: 2em;
  }
  .fifth_section .teams .team_member {
    width: 98%;
  }
  .eighth_section .working ul li:nth-child(odd) {
    background-color: #f2f2f2;
  }
  .eighth_section .working ul li:nth-child(even) {
    background-color: #f7f7f7;
  }
  .eighth_section .working ul .work_type {
    width: 100%!important;
  }
  .ninth_section .price .price_row {
    width: 90%;
  }
  .ninth_section .price .price_row .price_plan {
    left: 30%;
  }
  .eleventh_section nav li {
    display: inline-block;
    float: none;
    margin-bottom: 10px!important;
  }
  .eleventh_section .project {
    width: 50%!important;
  }
  .twelfth_section .clients {
    width: 500%;
  }
  .thirteenth_section .thirteenth_row p {
    font-size: 1.2em!important;
  }
  .sixteenth_section .subscribe_box .mail_enter {
    width: 100%!important;
  }
  .sixteenth_section .subscribe_box button {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .third .statistic {
    width: 100%!important;
  }
  .eighteenth_section .contacts_row {
    width: 96%!important;
  }
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
